[submodule "cdebug"]
	path = cdebug
	url = git://github.com/youknowone/cdebug.git
[submodule "FoundationExtension-repo"]
	path = FoundationExtension-repo
	url = git://github.com/youknowone/FoundationExtension.git
